body {
	background-color: #73D2DE;
	color: #8F2D56;
	font-family: "Lucida Console", "Courier New", monospace;
	text-align: center;
}

#post {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 0px black inset;

	pointer-events:none;
	z-index:1000;
}

#zodiac {
	font-size: 40pt;
}

#garf:hover {
	animation: shake 0.5s;

  animation-iteration-count: infinite; 
}

#garf:hover ~ #post {
	animation: vignette 10s ease 0s 1 normal forwards;

}

.rainbow {
	background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	animation: rainbow_animation 6s ease-in-out infinite;
	background-size: 400% 100%;
}

@keyframes vignette {
	0% { box-shadow: 0px 0px 0px black inset; }
	100% { box-shadow: 0px 0px 290px black inset; }
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
